html, body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;

}

#wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}

.main {
    background-image: url('img/cchm_group.jpg');
}

.hero {
    position: absolute;
    bottom: 0;
    top: 0;
    color: #f1f1f1;
    width: 100%;
}

#section1 {
    
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
