html, body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}
p {
  line-height: 1.5;
}

h1 {
    font-family: 'Raleway', sans-serif;

}
/* Currently not using this unless switch back to fixed hero bg
#wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-position: center; 
} 
*/


#section1, #section2, #section3 {
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 50px;
  margin: 0 auto;
}

#section0 {
  position: relative;
  height: auto;
  overflow: hidden;
  margin: 0;
}

.bg {
  width: 100%;
  margin: 0 auto;
}

/* this is the canvas container to help size and center canvas */
#canvas-container {
  width: 100vw;
  display: flex;
}

/* this sizes the canvas */
#show-models {
  width: 66vw !important;
  height: 600px !important;
  margin: auto;
  outline: none;
  box-shadow: none;
}

/*
.design {
  background-image: url('./teams/img/design-team.jpeg');
  
}

.main {
    background-image: url('img/cchm_group.jpg');
    
}
.video {
  background-image: url('./teams/img/video-team.jpg');
}
.web {
  background-image: url('./teams/img/dev-team.jpg')
}

.content {
  background-image: url('./teams/img/content-team.jpg')
}

.leadership {
  background-image: url('./teams/img/leader-team.jpg')
}
*/
.group-img {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5%;
}

.project-img {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.cmdc-logo {
  padding-top: 5%;
  display: block;
  clear: both;
}

.wsuv-logo {
  width: 25%;
  display: block;
  clear: both;
  
}
.headshot {
  width: 200px;
} 

.headshot-img {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.hero {
    position: absolute;
    bottom: 0;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    background-color: rgba(128,128,128,0.7)
}

.hero h1 {
    font-size: 3em;
    padding-top: 25%;
}

.column {
  float: left;
  width: 48%;
  padding: 5px;
}

.row {
  width: 80%;
  margin: 0 auto;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
    .hero h1 {
        position: relative;
        padding-top: 20%;
        font-size: 2.5em;
    }

    #show-models {
      width: 100vw !important;

    }

    p {
      line-height: 1.15;
    }
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


/* NAV */

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 25px 40px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: #1FA2BF;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.team {
  text-decoration: none;
  color: #1FA2BF;
}
.team:visited {
  color: #1FA2BF;
}

.team:hover {
  color: #000000;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #000000;
  padding: 25px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: #1FA2BF;
}

.dropdown-content a:hover {
  color: #1FA2BF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.dropdown-content a:hover {
  color: #1FA2BF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* HEADSHOTS */

div.headshot-contain {
  margin: 5px;
  width: 100%;
    display: block;  
    padding-bottom: 5%;
    position: relative;
    overflow-wrap: break-word; 
}

.headshot-contain img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headshot-contain video {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.headshot-contain a:link {
  text-decoration: none;
  color: #1FA2BF;
  font-weight: 700;
}

.headshot-contain a:visited {
  color: #1FA2BF;
}

.headshot-contain a:hover {
  color: #000000;
}

.home-contain video {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  object-fit: fill;
}

.home-contain h2 {
  padding-bottom: 5%;
}

.logos {
  display: block;
}


@media screen and (min-width: 1024px) {
  .headshot-contain img {
    width: 100%;  
  }


  div.headshot-contain {
  float: left;
  width: 25%;
  margin-left: 5%;
 
}

.headshot-contain h2 {
  position: relative;
}

.contain {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.contain h2 {
  padding-bottom: 5%;
}

#section2 h2 {
  margin-left: 5%
}

.home-contain {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}

.home-contain .headshot-contain {
  width: 40%;
  
}

}

.model-style {
  color: #1FA2BF;
  font-weight: 600;
}